body{
  width:100%;
  font-size:.12rem;
  position:absolute;
  top:0;
  bottom:0;
  display:flex;
  flex-direction:column;
}

header{
  .nav-list{
    width:46%;
    display:flex;
    margin:0 27%;
    li{
      width:50%;
      padding:.1rem 0;
      text-align:center;
      font-size:.14rem;
    }
    .bg1{
      color:#fa2e2e;
      border-bottom:2px solid #fa2e2e;
    }
  }
}
section{
   flex:1;
   overflow-y:scroll;
   .nav{
     background:#f3f3f3;
     height:.48rem;
     position:relative;
     .nav-list1{
       width:80%;
       position:absolute;
       left:10%;
       top:.1rem;
       display:flex;
       border-radius:5px;
       border:1px solid #d4d2d2; 
       li{
         flex:1;
         background:#fff;
         border-left:1px solid #d4d2d2;
         text-align:center;
         padding:.05rem 0;
         font-size:.14rem;
         &:nth-child(1){
           border-left:none;
           border-top-left-radius:5px;
           border-bottom-left-radius:5px;
         }
         &:nth-child(3){
           border-top-right-radius:5px;
           border-bottom-right-radius:5px;
         }
       }
       .bg2{
         color:#fff;
         background:#fa2e2e;
       }
     }
   }
   .nav-list2{
     display:flex;
     li{
       flex:1;
       text-align:center;
       padding:.1rem 0;
       i{
         font-size:.16rem;
       }
       &:last-child{
         flex:.6;
       }
     }
   }
   .xin{
     overflow:hidden;
     //position:absolute;
     //height:100%;
     //height:4.68rem;
     .xin-con{
       display:flex;
       flex-direction:column;
       .item{
         display:flex;
         flex-direction:column;
         width:90%;
         padding:.1rem 5%;
         border-bottom:1px solid #eee;
         .top{
           position:relative;
           margin:.1rem 0;
           i{
             position:absolute;
       		 left:.05rem;
       		 top:0;
       		 font-size:.18rem;
       		 color:#f3f3f3;
           }
           h3{
             margin-left:.3rem;
             font-size:.14rem;
           }
           span{
             position:absolute;
       		 right:0;
       		 top:0;
       		 height:.2rem;
       		 line-height:.2rem;
       		 border-radius:.1rem;
       		 border:1px solid #57c35a;
       		 color:#57c35a;
       		 padding:0 .05rem;
           }
           .chu{
             right:18%;
           }
           .chu1{
             color:#f3bb4c;
             border:1px solid #f3bb4c;
           }
         }
         .bt{
           display:flex;
           position:relative;
           dl{
             flex:1;
             margin:.1rem 0;
             text-align:center;
             border-left:1px solid #eee;
             dt{
               margin-bottom:.05rem;
             }
             &:first-child{
               border-left:none;
               dt{
                 color:#1aa4ed;

               }
             }
           }
           b{
             position:absolute;
       		 right:-.1rem;
       		 top:8%;
       		 font-size:.2rem;
       		 color:#ccc;
           }
         }
       }
     }
   }
}
footer{
  height:.45rem;
  .ft-list{
    display:flex;
    li{
      width:25%;
      text-align:center;
      a{
        display:flex;
        flex-direction:column;
        i{
          font-size:.2rem;
          line-height:.28rem;
          color:#dadadc;
        }
      }
    }
    .bg{
      a{
        color:#fa2e2e;
        i{
          color:#fa2e2e;
        }
      }
    }
  }
}